/vc10/*.sdf
/vc10/*.opensdf
/vc10/ipch
/vc10/Win32
/vc10/GeneratedFiles
/vc10/Debug
/vc10/*.suo
/3rd/lib/*.lib
/data/*.it
/vc10/*.dat
/*.lnk
/data/*.dat
/data/*.alist
/vc10/*.lnk
/vc10/fec/*.deps
/vc10/*.pdb
/vc10/Release
/data/*.txt
/bin
/vc10/data
/vc10/bin
/build/
